.block {
    border: 1px solid #ffecff;
    background: #01008c;
}

.book-block {
    display: flex;
    gap: 1em;
}

.book-block .info {
    padding-block: 1em;
}

.book-block .info h3 {
    margin: 0;
}

.book-block .info strong {
    filter: drop-shadow(.3em .3em 0em red);
}
